<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <enforceFIPSPolicy enabled="false" />
  </runtime>
  <configs SELEFILE="E:\F407_PROJECT\STM32F407ZGT\Build\QT201.bin" SAVEFILE="E:\F407_PROJECT\QT201_new.rbl" COMPRESS="1" CRYPT="0" KEY="0123456789ABCDEF" IV="0123456789ABCDEF" NAME="applicatopn" VERSION="1.9" />
</configuration>